<div class="container">
<nav class="navbar navbar-default">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            {# <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li> #}
            <li><a href="{{ path('index') }}">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        {% if is_granted('ROLE_USER') %}
            <li><a href="{{ path('profile') }}">My items</a></li>
            <li><a href="javascript:void(0)">{{ app.user.username }}</a>
            </li>
            <li class="add-item"><a title="Add new" href="{{ path('new_item') }}"><i class="fas fa-plus"></i></a></li>
        {% endif %}
        <li class="dropdown">

            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
            <ul class="dropdown-menu">
            {% if is_granted('ROLE_USER') %}
            <li><a href="{{ path('logout') }}">Logout</a></li>
            {% else %}
            <li><a href="{{ path('login') }}">Login</a></li>
            <li><a href="{{ path('user_registration') }}">Register</a></li>
            {% endif %}
            </ul>
        </li>
        </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>